header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px;
  .logo {
    height: clamp(36px, 1rem, 2vw);
    width: clamp(36px, 1rem, 2vw);
    background-image: url("/src/assets/clouds.png");
    background-size: cover;
    background-position: center;
  }
  .title-container {
    display: flex;
    flex-grow: 2;
    justify-content: center;
  }
  .btns-container {
    .button {
      display: inline-block;
      outline: 0;
      cursor: pointer;
      border: 1px solid #1d1c1d4d;
      font-weight: 700;
      background: #fff;
      padding: 0 12px 1px;
      font-size: 15px;
      border-radius: 4px;
      color: rgb(29, 28, 29);
      height: 36px;
      transition: all 80ms linear;
      :hover {
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
        background: rgba(248, 248, 248, 1);
      }
    }
    .fahrenheit {
      display: none;
    }
  }
}
