main {
  min-height: calc(100vh - 100px);
  .main-background {
    display: none;
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    background: url("../assets/noaa-kcvlb727mn8-unsplash.webp");
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: cover; /* Scale the background image to cover the entire element */
    z-index: -1;
  }
  .main-content {
    padding: 10px;
    section#search {
      margin-top: 1rem;
      form {
        justify-content: center;
        display: flex;
        .location {
          margin-right: 10px;
        }
        .location:focus {
          outline: none;
        }
      }
    }
    .main-display {
      margin-top: 1rem;
      display: flex;
      flex-flow: column;
      align-items: center;
      .location-name {
        font-size: clamp(0.5em, 20px, 2rem);
      }
      .temp {
        font-size: clamp(1.5em, 30px, 3rem);
      }
    }
  }
}

.main-background.active {
  display: block;
}
